*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.container{
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 600px;
    background: gray;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container_maze{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}
.row{
    width: 100%;
    height: 10%;
    display: flex;
    background: white;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.finish{
    background-image: url("img/chegada.png");
    background-size: 100%;
    width: 10%;
}
.wall{
    background: blue;
    /* background-image: url("img/mato.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    width: 10%;
    /* overflow: hidden; */
}
.floor{
    background: white;
    /* background-image: url("img/rock.png"); */
    /* background-size: 100%; */
    width: 10%;
}
#player{
    width: 100%;
    height: 100%;
    background-image: url("img/bola.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    animation-duration: 500ms
}

.winner{
    width: 100%;
    height: 300px;
    background: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.restart{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.restart:hover{
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.restart:active{
    position:relative;
	top:1px;
}
.hidden{
    display: none;
}

@keyframes slideRight {
    from {transform: translateX(-30px);}
      to {transform: translateX(0px);}
    }
    .slideRight {animation-name: slideRight;}

@keyframes slideLeft {
    from {transform: translateX(30px);}
      to {transform: translateX(0);}
    }
    .slideLeft {animation-name: slideLeft;}

@keyframes slideUp {
    from {transform: translateY(30px);}
      to {transform: translateY(0px);}
    }
    .slideUp {animation-name: slideUp;}
@keyframes slideDown {
    from {transform: translateY(-30px);}
      to {transform: translateY(0px);}
    }
    .slideDown {animation-name: slideDown;}